<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }
</style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    <p> I'm mainly interested in the development of methodologies to improve the explainability or
    interpretability
    of machine learning approaches, in particular for Deep Neural Networks.</p>
    <p> Specifically my current works are closely related to the following domains:</p>
    <p align="center">&#8226 Multi-hop reasoning.</p> 
    <p align="center">&#8226 Memory-Augmented Neural Networks.</p> 
    <p align="center">&#8226 Neural-Symbolic Approaches.</p> 
    <br>
    <p> Beside of that I'm available to work, deepening my knowledge on them, on:</p>
    <p align="center">&#8226 Evolutionary Deep Learning.</p> 
    <p align="center">&#8226 Natural Language Understanding.</p> 
    <p align="center">&#8226 Bio-Inspider Architectures.</p>
    <br>
    <p> If you want collaborate with me and you are a graduate student or a Phd student, please send me an email with the subject [collaboration], indicating your adivsor/laboratory. Usually my reply time is less then 1 day.</p>
    
    </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
